git+https://github.com/pandas-dev/pandas-sphinx-theme.git@master
ipykernel
numpy
matplotlib
pandas
sphinxcontrib-bibtex
sphinxcontrib-svg2pdfconverter
ipywidgets
sphinx-copybutton
sphinx-gallery
jupytext
